<app-title [title]="'More'"></app-title>

<div>
    <app-list>
        <app-list-item-arrow [mainText]="'Items'" [url]="'/items'"></app-list-item-arrow>
        <app-list-item-arrow [mainText]="'Categories'" [url]="'/categories'"></app-list-item-arrow>
        <app-list-item-arrow [mainText]="'Share Shelf'" [url]="'/share-shelf'"></app-list-item-arrow>
    </app-list>

    <div style="padding: 16px;">
        <p-button [outlined]="true" label="Logout" (click)="logout()" />
    </div>
</div>

<app-fixed-bottom>
    <app-menu-bottom></app-menu-bottom>
</app-fixed-bottom>
