<app-title [title]="'Share Shelf'"></app-title>

<app-appbar>
</app-appbar>

<div>
    <div style="padding: 16px; display: flex; flex-direction: column; gap: 8px;">
        Share Id
        <p-inputGroup>
            <input type="text" pInputText [(ngModel)]="shareId"/>
            <button type="button" pButton label="Generate" (click)="getShareId()"></button>
        </p-inputGroup>
    </div>

    <div style="padding: 16px; display: flex; flex-direction: column; gap: 8px;">
        Join Shelf
        <p-inputGroup>
            <input type="text" pInputText [(ngModel)]="joinShareId"/>
            <button type="button" pButton label="Join" (click)="joinShelf()"></button>
        </p-inputGroup>
    </div>
</div>

<app-fixed-bottom>
    <app-menu-bottom></app-menu-bottom>
</app-fixed-bottom>
