.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  width: calc(100% / 4);
  padding: 12px 0 6px 0;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;

}

.select-bar {
  position: absolute;
  width : 16px;
  height: 8px;
  top: 0;

  border-radius: 0 0 8px 8px;

  background-color: var(--primary-color);

  visibility: hidden; // do not show by deafult
}

.icon {
  width: 26px;
}

.text {
  font-size: 14px;
  font-weight: 500;
}

.item.selected {
  .select-bar {
    visibility: visible;
  }

  .text {
    color: var(--primary-color);
  }
}