.app {
    // background-color: aqua;
    height: calc(100vh - 60px);
    //position: relative; // to position absolute the fab
}

.app-content {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;    /* For Firefox */
    height: 100%;

    // background-color: aqua;
}



