<div style="font-size: 32px; font-weight: 500;">
    Register
</div>

<div style="padding: 16px; display: flex; flex-direction: column; gap: 16px">

    <div style="display: flex; flex-direction: column; gap: 8px">
        Username
        <input type="text" pInputText [(ngModel)]="username"/>
    </div>

    <div style="display: flex; flex-direction: column; gap: 8px">
        Password
        <p-password class="flexfull" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" />
    </div>

    <div style="display: flex; flex-direction: column; gap: 8px">
        Repeat Password
        <p-password class="flexfull" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" />
    </div>

    <p-button label="Register" />

    <div>
        Already have an account? Login
    </div>
</div>


