<div style="padding: 24px 16px;">
    <div style="font-size: 32px; font-weight: 500;">
        Register
    </div>
</div>

<div style="padding: 16px; display: flex; flex-direction: column; gap: 16px">

    <div style="display: flex; flex-direction: column; gap: 8px">
        Username
        <input type="text" pInputText [(ngModel)]="username"/>
    </div>

    <div style="display: flex; flex-direction: column; gap: 8px">
        Password
        <p-password class="p-fluid" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" />
    </div>

    <div style="display: flex; flex-direction: column; gap: 8px">
        Repeat Password
        <p-password class="p-fluid" [(ngModel)]="repeatedPassword" [feedback]="false" [toggleMask]="true" />
    </div>

    <p-selectButton 
        [options]="shelfOptions" 
        [(ngModel)]="shelfOption" 
        [allowEmpty]="false"
        optionLabel="label" 
        optionValue="value"
    />
    
    <div *ngIf="!shelfOption" style="display: flex; flex-direction: column; gap: 8px">
        Shelf Name
        <input type="text" pInputText [(ngModel)]="shelfName"/>
    </div>  

    <div *ngIf="shelfOption" style="display: flex; flex-direction: column; gap: 8px">
        Insert Share Id
        <input type="text" pInputText [(ngModel)]="shareId"/>
    </div>  

    <div>
        <p-button label="Register" (click)="register()"/>
    </div>

    <div style="display: flex; align-items: center;">
        Already have an account? <p-button label="Login" [link]="true" (click)="gotoLogin()" />
    </div>
</div>
