p-button {
    

    button {
        background-color: red;
        border: none;
        cursor: pointer;
    }

    button:focus {
        box-shadow: none;
    }

    &.invert-button {
        button {
            background-color: white;
        }
    }

    &.secondary {
        button {
            background-color: white;
            border: 1px solid red;
            color: red;
        }
    }

    &.icon-only {
        button {
            padding: 12px 0;
            width: 48px;
            height: 44px;
            display: flex;
            justify-content: center;
        }

        &.small {
            button {
                padding: 0;
                width: 30px;
            }
        }

        &.round {
            button {
                height: 48px;
            }
        }
    }

    &.full-width {
        width: 80%;
        button {
            width: 100%;
        }        
    }
    
}

// @media (min-width: 500px) { 
//     p-button {
//         &.full-width {
//             width: auto;
//             button {
//                 width: 500px;
//             }
//         }
//     }    
// }