p-confirmdialog {


    .p-dialog-header {
        padding: 16px;

        // button {
        //     display: none;
        // }
    }

    .p-dialog-content {
        padding: 16px;
    }

    .p-dialog-footer {
        padding: 16px;
    }

}