p-password {

    // all width available in parent flex search box
    &.flexfull {
        display: flex;
        .p-password {
            flex: 1;
        }
        .p-password-input {
            flex: 1;
        }
    }
         

}