p-toast {
    .p-toast {
        width: 20rem;
    }

    .p-toast-message {
        background: white;
    }

    .p-toast-bottom-center {
        bottom: 60px;
    }

    button {
        background-color: unset;
    }
}
  