// @import url(components/p-dialog.scss);
// @import url(components/p-autocomplete.scss);
// @import url(components/p-input.scss);
// @import url(components/p-button.scss);
// @import url(components/p-togglebutton.scss);
// @import url(components/p-calendar.scss);
// @import url(components/p-datepicker.scss);
@import url(mytheme.scss);

:root {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: "Inter var", sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  // light theme
  --bg-base: var(--gray-50);
  --bg-surface: var(--gray-0);
  --text-base: var(--gray-700);
  --bg-hover: var(--gray-100);
  --bg-highlight: var(--gray-50);
  --border: var(--gray-100);
  --border-highlight: var(--gray-400);

  // dark theme
  --bg-base: var(--gray-950);
  --bg-surface: var(--gray-800);
  --text-base: var(--gray-100);
  --bg-hover: var(--gray-700);
  --bg-highlight: var(--gray-750);
  --border: var(--gray-600);
  --border-highlight: var(--gray-500);

  --primary: var(--blue-500);
  --primary-text: var(--gray-50);
  --primary-hover: var(--blue-600);
  --primary-highlight: var(--blue-50);

  // --primary: var(--orange-500);
  // --primary-text: var(--gray-50);
  // --primary-hover: var(--orange-600);
  // --primary-highlight: var(--orange-50);

  --danger: var(--red-500);
  --danger-highlight: var(--red-50);
  --danger-hover: var(--red-600);

  --error: var(--red-500);
  --error-text: var(--gray-50);
  --error-hover: var(--red-600);
  --error-highlight: var(--red-50);

  --warning: var(--orange-500);
  --warning-text: var(--gray-50);
  --warning-hover: var(--orange-600);
  --warning-highlight: var(--orange-50);

  --invalid: var(--red-300);
}

:root {
  --p-focus-ring-color: var(--primary);
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
