<app-title [title]="'Items'" [back]="'/more'"></app-title>

<app-appbar>
    <div style="display: flex; gap: 8px;">
        <app-search-bar (searchTextChanged)="onSearchTextChanged($event)" style="flex: 1;"></app-search-bar>
        
        <app-filter-button
            [selectedCategories]="itemsData.selectedCategories" 
            (toggleFilter)="toggleShowCategoryFilter()" >
        </app-filter-button>
    </div>
</app-appbar>

<app-list *ngIf="dataStateHandler.isSuccess()">
    <app-list-item *ngFor="let item of itemsData.filteredItems"
        [leadingIcon]="item.category"
        [mainText]="item.name"
        [favIcon]="item.favourite"
        (edit)="onEdit(item)">
    </app-list-item>
</app-list>

<app-list-loading *ngIf="dataStateHandler.isLoading()"></app-list-loading>

<app-fixed-bottom-right>
    <app-new-button (toggleShowNew)="onNew()"></app-new-button>
</app-fixed-bottom-right>

<app-fixed-bottom>
    <app-menu-bottom></app-menu-bottom>
</app-fixed-bottom>

<app-item-new 
    [visible]="showItemNew" 
    [item]="itemNew"
    [categories]="categoriesData.categories"
    (onHide)="toggleShowItemNew()" 
    (onSave)="save()"
></app-item-new>

<app-item-edit 
    [visible]="showItemEdit" 
    [item]="itemEdit"
    [categories]="categoriesData.categories"
    (onHide)="toggleShowItemEdit()" 
    (onSave)="edit()"
    (onDelete)="delete(itemEdit)"
></app-item-edit>


<app-category-filter
    *ngIf="showCategoryFilter"
    [categories]="categoriesData.categories"
    [selectedCategories]="itemsData.selectedCategories"
    (onHide)="toggleShowCategoryFilter()" 
    (onApply)="onApplyCategoryFilter($event)"
></app-category-filter>