$primaryColor: #ff3d32 !default;
$primaryDarkColor: #ff3d32 !default;
$primaryDarkerColor: #ff3d32 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import './_variables';
@import './_fonts';
@import './theme-base/_components';
@import './_extensions';