/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "style/theme.scss";

html { 
    height: 100svh;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;    /* For Firefox */
}
body { 
    height: 100svh;
    margin: 0; 
    padding: 0; 
    user-select: none;
    -webkit-tap-highlight-color: transparent; // remove highlight tap
    -webkit-tap-callout: none;
    position: relative;
}

body::after {
  content: "";
  display: block;
  height: env(safe-area-inset-bottom);
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}

@media (min-width: 500px) { 
    html {
        display: flex;
        justify-content: center;
    }
    body {
        width: 500px;
    }
}