/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "style/theme.scss";

html { 
    // height: 100svh;
    color: var(--text-base);
}
body { 
    // height: 100svh;
    margin: 0; 
    padding: 0; 
    user-select: none;
    // overflow: hidden;
    -webkit-tap-highlight-color: transparent; // remove highlight tap
    -webkit-tap-callout: none;
    overscroll-behavior: contain; // evita pull-to-refresh 

    
    // overscroll-behavior-y: none; /* evita pull-to-refresh */
    // -webkit-overflow-scrolling: touch;

    position: relative;
}

@media (min-width: 500px) { 
    html {
        display: flex;
        justify-content: center;
    }
    body {
        width: 500px;
    }
}